body{
    background-color: rgb(255, 255, 255);
}
.container3 {
    display: flex;
    width: 100%;
    height: 100vh;
}

.topic{
    display: flex;
    justify-content: center;
    font-size: 50px;

}

.l2 {
    flex: 1;
    height: 100%;
    font-size: 2em;
    background-color: rgb(69, 180, 255);
    border-radius: 10px; 
    border: none;
}

.l1{
    margin-left: 5px;
    flex: 1;
    height: 100%;
    font-size: 2em;
    background-color: rgba(0, 51, 255, 0.636);
    border-radius: 10px;
    border: none;
}
